{% extends 'base.html'%}

{% block content %}
<div class="container-fluid padding detail">
  <div class="row padding">
    <div class="col-lg-6">
      <img src="{{inventory.image.url}}" class="img-fluid">
    </div>
    <div class="col-lg-6">
      <h1>{{inventory.title}}</h1>
      <h3>{{inventory.brand}}</h3>
      <p>{{inventory.body}}</p>
      <br>
      <a href="{% url 'inventory' %}">
      <button type="button" class="btn btn-primary btn-lg" name="button"> Back</button>
      </a>

    </div>

  </div>

</div>

{% endblock %}
