{% extends 'base.html'%}

{% block content %}
<h1>Edit</h1>
{% if error %}
{{ error }}
<br/>
<br/>

{% endif %}

<form method="POST" action="" enctype="multipart/form-data">
  {% csrf_token%}
  Title:
  <br/>
  <input type="text" name="title"  value="{{inventory.title}}"/>
  <br/ >
  Brand:
  <br/>
  <input type="text" name="brand" value="{{inventory.brand}}"/>
  <br/ >
  Body:
  <br/>
  <input type="textbox" name="body" value="{{inventory.body}}" />
  <br/ >
  Image:
  <br/>
  <input type="file" name="image" value="{{inventory.image.url}}" />
  <br/>
  <br/>
  <input class="btn btn-primary" type="submit" value="Update" />

</form>

{% endblock %}
