
{% extends 'base.html'%}
{% load staticfiles%}

<link  href="{% static 'css/main.css' %}" rel="stylesheet" >
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators ind">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img  src="{% static 'images/image1.jpg' %}" alt="First slide">
      <div class="carousel-caption">
        <h1 class="display-2">Making your ride smooth</h1>

        <a href="{% url 'inventory' %}">
          <button type="button" class="btn btn-primary btn-lg" name="button"> Inventroy</button>
        </a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/image2.jpg' %}" alt="Second slide">
      <div class="carousel-caption">
        <h1 class="display-2">Commercial tire Mobile Service</h1>
        <p>One call away</p>
        <a href="{% url 'inventory' %}">
          <button type="button" class="btn btn-primary btn-lg" name="button"> Inventroy</button>
        </a>
      </div>
    </div>
    <div class="carousel-item">
      <img  src="{% static 'images/image3.jpg' %}"  alt="Third slide">
      <div class="carousel-caption">
        <h1 class="display-2">On site tire repair/replace</h1>
        <p>Serving in London(Ontario) and Surrounding Area</p>
        <a href="{% url 'inventory' %}">
          <button type="button" class="btn btn-primary btn-lg" name="button"> Inventroy</button>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="album py-5 bg-light">
  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4">Services</h1>
      </div>
      <hr class="my-4">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 serv">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="{% static 'images/imagetire.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Commercial Tires</h4>
            <p class="card-text">
Tires are critical vehicle components because they connect trucks and trailers to the road and allow drivers to steer safely on diverse terrains. We carry a wide selection of reasonably priced American and Chineses Commercial tires.</p>

          </div>
        </div>
      </div>
      <div class="col-md-4 serv">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="{% static 'images/imaget1.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Tire Repair</h4>
            <p class="card-text">Tire repair available on Semi trucks and small vechiles.Repairing flats, doing tire mounts and dismounts, diagnosing tire problems and performing balance and rotation evaluations.</p>

          </div>
        </div>
      </div>
      <div class="col-md-4 serv">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="{% static 'images/imaget3.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Mobile Service</h4>
            <p class="card-text">24/7 On-Site mobile services available in London Ontario and surrounding areas. Your requirement becomes our responsibitly.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="my-4">
<figure>
  <div class="fixed-wrap">
    <div id="fixed">
      <div class="layer text-center">
        <div class="centered"><h2 class="display-4"> Flat SERVICES </h2>          <h4> Offering quick and efficient service
  				to keep you on the road </h4>          <a href="#"> <h1 class="display1"><span class="oi oi-phone"></span><span class="note"> 24/7</span>    519-319-2597</h1></a>
      </div>
    </div>

    </div>
</div>
</figure>
<hr class="my-4">
<section class="testimonials">
  <div class="container">
    <h1>Testimonials</h1>
    <p class="text-center">Read what our customers have to say about our service</p>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="profile">
            <img src="{% static 'images/dil.jpg' %}" class="user">
            <blockquote >Wow, I'm so happy with your service. You managed to exceed my expectations! You guys are very efficient and I will refer more people to your company!
            </blockquote>
            <h3>Dilbaagh Khera <span>Founder of Maja Transportation</span></h3>

        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="profile">
            <img src="{% static 'images/bob.jpg' %}" class="user">
            <blockquote>Thank you very much. I’m impressed with your service. I’ve already told my friends about your company and your quick response, thanks again!
            </blockquote>
            <h3>Bob Flick <span> Manager of Sahib Freight</span></h3>

        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="profile">
            <img src="{% static 'images/jia.jpg' %}" class="user">
            <blockquote >I would just like to say thank you for your prompt and effective service, for your friendly and professional support staff! I will recommend your expert company to all my friends.
            </blockquote>
            <h3>Harpreet Singh <span> Owner and Operator </span></h3>

        </div>
      </div>
    </div>

  </div>
</section>
<hr class="my-4">
<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-12">
      <h2>Connect</h2>
    </div>
    <div class="col-12 social padding">
      <a href="mailto:doontire@gmail.com"><i class="fas fa-envelope"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>



  {% endblock %}
