{% extends 'base.html'%}

{% block content %}
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4"> Inventory</h1>
        </div>
        <hr>
    </div>
</div>
<div class="container-fluid padding">
  <div class="row padding">
    {% for inventory in inventorys.all %}
    <div class="col-md-4 invent">

      <div class="card">
        <img src="{{inventory.image.url}}" class="img-fluid" onclick="window.location='{% url 'detail' inventory.id %}';" style="cursor: pointer;">
        <div class="card-body">
          <h4 class="card-title">{{inventory.brand}}</h4>
          <p>{{inventory.summary}}</p>
        </div>
        <a href="{% url 'detail' inventory.id %}">
        <button type="button" class="btn btn-primary btn-lg" name="button"> Details</button>
        </a>

      </div>
    </div>
    {% endfor %}

  </div>

</div>

{% endblock %}
